// -----------------------------------------------------------------------------
// BUTTON
// -----------------------------------------------------------------------------

.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  border-radius: 7px;
  margin: 0;
  padding: 1.4rem 3.2rem 1.3rem;
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
  line-height: 1.15;
  text-align: center;
  color: $white;
  background-color: $brand-color-one;
  transition: background-color 150ms, color 150ms;
  cursor: pointer;

  &,
  &:link,
  &:visited,
  &:active {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    background-color: lighten($brand-color-one, 15%);
  }

  &:focus-visible {
    outline: 2px solid $brand-color-one;
    outline-offset: 1px;
  }

  // Variations
  &--pill {
    border-radius: 25px;
  }

  &--small {
    padding: 1rem 1.8rem 0.9rem;
    font-size: 1.3rem;
  }

  // Inclusive disable button
  // For more: https://css-tricks.com/making-disabled-buttons-more-inclusive/
  &[aria-disabled="true"] {
    background-color: lighten($brand-color-one, 15%);
    cursor: not-allowed;
  }

  // Loading spinner
  .icon-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    margin: auto;
  }

  &--loading {
    .btn__text {
      visibility: hidden;
    }

    .icon-spinner {
      display: inline-block;
    }
  }
}

// Menu Button
// https://codepen.io/carlosriera/pen/qNgrEo
$size: 22px;
$height: 16px;
$width: 20px;
$line-size: 3px;
$line-color: $grey-violet;
$line-radius: 0;
$to-translate: ($height - $line-size) / 2;

.btn-menu {
  position: relative;
  width: $size;
  height: $size;
  overflow: hidden;
  border: 0;
  outline: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $line-color;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    transform: translate(-50%, -50%);
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: $line-size;
    border-radius: $line-radius;
    background-color: $line-color;
    pointer-events: none;

    &--1 {
      top: 0;
      transition: transform 0.2s ease-in-out 0.15s, top 0.2s ease-in-out 0.2s;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: $line-size;
        border-radius: $line-radius;
        background-color: $line-color;
        transition: transform 0.15s ease-in-out;
      }
    }

    &--2 {
      top: 0;
      bottom: 0;
      margin: auto;
      transition: opacity 0s ease-in-out 0.35s;
    }

    &--3 {
      bottom: 0;
      transition: opacity 0s ease-in-out 0.25s;
    }
  }

  // Open
  &.open &__line--1 {
    top: $to-translate * 2;
    transform: translate3d(0, -$to-translate, 0) rotate(-45deg);
    transition:
      top 0.2s ease-in-out,
      transform 0.15s ease-in-out 0.2s;
  }

  &.open &__line--1::before {
    transform: rotate(-90deg);
    transition: transform 0.15s ease-in-out 0.3s;
  }

  &.open &__line--2 {
    opacity: 0;
    transition: opacity 0s ease-in-out 0.1s;
  }

  &.open &__line--3 {
    opacity: 0;
    transition: opacity 0s ease-in-out 0.2s;
  }
}
