// -----------------------------------------------------------------------------
// FORM
// -----------------------------------------------------------------------------

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $white;
  border-radius: 7px;
  padding: 1.4rem 2rem 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: $grey-violet;
  background-color: $white;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;

  &::placeholder {
    color: $grey-violet;
    transition: color 0.15s ease-in-out;
  }

  &:focus {
    border-color: $brand-color-one;
    outline: 0;
    color: $violet-dark;
    background-color: $white;
    box-shadow: 0 0 0 0.25rem rgba($brand-color-one, 0.3);
  }

  .error & {
    border-color: $form-error;
    box-shadow: 0 0 0 0.25rem $form-error;

    &::placeholder {
      color: $form-error;
    }
  }
}

.form-error {
  font-style: italic;
  color: $form-error;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  .error & {
    opacity: 1;
  }
}
